/* CSS global */
html
{
    height: 100%;
}

body
{
	margin: 0px;
	padding:0px;
    height: 100%;
}

a{
	cursor:pointer;
	color:#0066CC;
}


.borda_arredondada {
  -moz-border-radius: 6px; /* Firefox */
  -webkit-border-radius: 6px; /* Safari and Chrome */
  border-radius: 6px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */

  /*-moz-box-shadow: 10px 10px 20px #000; /* Firefox */
  /*-webkit-box-shadow: 10px 10px 20px #000; /* Safari and Chrome */
  /*box-shadow: 10px 10px 20px #000; /* Opera 10.5+, future browsers and IE6+ using IE-CSS3 */

  /*behavior: url(http://localhost/midiacoletiva/css/ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
}

.transparente0 {
	/* Required for IE 5, 6, 7 */
	/* ...or something to trigger hasLayout, like zoom: 1; */
	width: 100%; 

	/* Theoretically for IE 8 & 9 (more valid) */
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=100);

	/* Older than Firefox 0.9 */
	-moz-opacity:1;

	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 1;

	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 1;
}

.transparente {
	/* Required for IE 5, 6, 7 */
	/* ...or something to trigger hasLayout, like zoom: 1; */
	width: 100%; 

	/* Theoretically for IE 8 & 9 (more valid) */
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=0);

	/* Older than Firefox 0.9 */
	-moz-opacity:0;

	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0;

	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0;
}

.transparente2 {
	/* Required for IE 5, 6, 7 */
	/* ...or something to trigger hasLayout, like zoom: 1; */
	width: 100%; 

	/* Theoretically for IE 8 & 9 (more valid) */
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=50);

	/* Older than Firefox 0.9 */
	-moz-opacity:0.5;

	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.5;

	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.5;
}


